.comment {
    width: 100%;
    display: block;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: top 0.5s ease 0s, right 0.5s ease 0s, height 0.5s ease 0s;

    &__header-info,
    &__header-resolved {
        display: inline-block;
    }

    &__header-info {
        padding-top: 10px;
        padding-left: 10px;

        h2 {
            margin: 0;
            font-weight: bold;
            font-size: 1em;
            color: #555;
        }
    }

    &__header-resolved {
        float: right;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 0.8em;

        input {
            margin-left: 10px;
        }
    }

    &__date {
        font-size: 0.7em;
        color: #555;
        margin: 0;
    }

    &__text,
    &__actions {
        padding: 20px;
        padding-bottom: 10px;
        margin: 0;
    }

    &__actions {
        padding-top: 10px;
        padding-bottom: 10px;

        > a {
            display: inline-block;
            padding-right: 4px;
            font-size: 0.9em;

            color: #333;
        }
    }

    &__replies {
        list-style-type: none;
        padding: 0;
    }

    &__edit-actions,
    &__reply-actions {
        padding-right: 10px;
        padding-bottom: 10px;
        width: 100%;
        background-color: #f7f7f7;
        text-align: right;
        box-sizing: border-box;

        button {
            margin-right: 5px;
        }
    }

    &__confirm-delete {
        margin-right: 5px;
    }

    &__error {
        color: red;
        font-weight: bold;
    }

    textarea {
        font-family: 'Open Sans', sans-serif;
        border: none;
        margin: 0;
        padding: 10px;
        width: 100%;
        background-color: #f7f7f7;
        box-sizing: border-box;
    }
}
