.comment {
    @include box;

    width: 100%;
    max-width: 350px;
    display: block;
    border-radius: 5px;
    transition: top 0.5s ease 0s, right 0.5s ease 0s, height 0.5s ease 0s;

    &--mode-creating {
        padding: 10px;
    }

    &__text {
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 0px;

        &--mode-deleting {
            color: #333;
        }
    }

    &__author-date {
        color: #fff;
        font-size: 0.8em;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    &--mode-deleting &__text,
    &--mode-deleting &__author-date {
        color: #999;
    }

    &__replies {
        list-style-type: none;
        padding: 0;
    }

    &__button {
        @include button;
    }

    &__actions,
    &__confirm-delete,
    &__progress {
        height: 30px;
    }

    &__actions &__button,
    &__confirm-delete &__button,
    &__reply-actions &__button {
        height: 26px;
        margin-right: 5px;
        padding: 6px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 9px;
        margin-top: 5px;
        margin-right: 5px;
    }

    &__resolved {
        float: right;

        label {
            display: inline-block;
            text-align: right;
            padding-right: 33px;
            color: #fff;
            font-size: 0.8em;
            font-weight: bold;
            position: relative;
            width: 90px;
            padding-top: 8px;
            cursor: pointer;
        }

        input[type='checkbox'] {
            display: none;
            visibility: hidden;
        }

        label::before {
            content: '';
            display: inline-block;
            height: 26px;
            width: 26px;
            margin-left: 5px;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 3px;
            position: absolute;
            top: 3px;
            right: 0px;
        }

        label::after {
            content: '';
            color: #000;
            display: inline-block;
            height: 6px;
            width: 16px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
            position: absolute;
            right: 4px;
            top: 10px;
        }

        input[type='checkbox'] + label::after {
            visibility: hidden;
        }

        input[type='checkbox']:checked + label::after {
            visibility: visible;
        }

        input[type='checkbox']:focus + label::before {
            outline: rgb(59, 153, 252) auto 5px;
        }
    }

    &__confirm-delete,
    &__error {
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;

        button {
            margin-left: 5px;
            margin-right: 0px;
        }
    }

    &__error {
        background-color: #b4191f;
        border-radius: 3px;
        padding: 5px;

        button {
            float: right;
            margin-left: 5px;
            background-color: #901419;
            border-color: #901419;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.9em;
            font-weight: bold;
        }
    }

    &__progress {
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;
    }

    textarea {
        font-family: 'Open Sans', sans-serif;
        border: none;
        margin: 0;
        margin-top: 5px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        color: #fff;

        &::placeholder {
            font-style: italic;
        }
    }

    &__reply-input {
        margin-top: 20px !important;
    }
}
