.moderation-bar {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 35px;
    right: 38px;
    border-radius: 2px;
    display: flex;
    font-size: 70%;
    justify-content: flex-end;
    padding: 0;
    z-index: 1000;

    &__modal {
        @include box;

        position: fixed;
        bottom: 100px;
        min-width: 370px;
        border-radius: 5px;

        textarea {
            display: block;
            font-family: 'Open Sans', sans-serif;
            border: none;
            margin: 0;
            margin-top: 5px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 3px;
            color: #fff;

            &::placeholder {
                font-style: italic;
            }
        }

        small {
            font-size: 80%;
        }

        &-button {
            @include button;

            padding: 10px;
            margin-top: 10px;
        }
    }

    &__arrow {
        position: absolute;
        right: 30px;
        bottom: -7.5px;

        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        width: 15px;
        height: 15px;

        background-color: $background;
    }

    &__button {
        background-color: #fff;
        text-transform: uppercase;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 0 1px 0 #6bd6e6, 0 1px 10px 0 rgba(107, 214, 230, 0.7);
        cursor: pointer;
        padding: 16px;
        padding-right: 16px + 25px;
        font-size: 12px;
        color: #007d7e;
        position: relative;

        &:focus {
            @include focus-outline;
        }

        &::-moz-focus-inner {
            border: 0;
        }

        &::after {
            content: '';
            background-color: #333;
            mask-image: url('./components/ModerationBar/wagtail.svg');
            mask-repeat: no-repeat;
            position: absolute;
            right: 9px;
            top: 8px;
            width: 28px;
            height: 100%;
        }
    }

    &__error {
        background-color: #b4191f;
        border-radius: 3px;
        padding: 5px;
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
