.comments-list {
    height: 100%;
    width: 400px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
}

@import 'components/Comment/style.scss';
@import 'components/CommentReply/style.scss';
@import 'components/ModerationBar/style.scss';
@import 'components/TopBar/style.scss';
