.comment-reply {
    margin-top: 20px;
    border-left: 5px solid #5b5b5b;
    padding-left: 7px;

    &__text {
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 0px;

        &--mode-deleting {
            color: #333;
        }
    }

    &__author-date {
        color: #fff;
        font-size: 0.8em;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    &--mode-deleting &__text,
    &--mode-deleting &__author-date {
        color: #999;
    }

    &__button {
        @include button;
    }

    &__actions,
    &__confirm-delete,
    &__progress,
    &__error {
        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }

    &__actions &__button,
    &__confirm-delete &__button {
        height: 26px;
        margin-right: 5px;
        padding: 2px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 9px;
        margin-top: 5px;
        margin-right: 5px;
    }

    &__confirm-delete,
    &__error {
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;

        button {
            margin-left: 5px;
            margin-right: 0px;
        }
    }

    &__error {
        background-color: #b4191f;
        border-radius: 3px;
        padding: 5px;
        padding-left: 10px;
        height: 26px;
        line-height: 26px;
        vertical-align: middle;

        button {
            float: right;
            margin-left: 5px;
            background-color: #901419;
            border-color: #901419;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.9em;
            font-weight: bold;
            line-height: 0;
        }
    }

    &__progress {
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;
    }

    textarea {
        font-family: 'Open Sans', sans-serif;
        border: none;
        margin: 0;
        margin-top: 5px;
        padding: 10px;
        width: 100%;
        background-color: $textarea-background;
        box-sizing: border-box;
        border-radius: 3px;
        color: #fff;

        &::placeholder {
            font-style: italic;
        }
    }
}
